body, html{
	height: 100%;
	width: 100%;
	position: absolute;
}
.parallax { 
	/* The image used */
	background-image: url("wallpaper.jpg");

	/* Set a specific height */
	height: 100%;
	width: 100%;
	border: 0px solid #000;

	/* Create the parallax scrolling effect */
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 479px){

section.module.parallax-1, section.module.parallax-2, section.module.parallax-3, section.module.parallax-4{
    -moz-background-size: auto;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-position: top;
    background-size: auto;
   }
}

span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;

	align-content: center;
	position: absolute;
	left:38%;
	top: 50%;
	width: 30%;
	text-align: center;
}
