body, html{
	height: 100%;
	width: 100%;
	position: absolute;
}
.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

/* Style the header links */
.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
	background-color: #ddd;
	color: black;
}

/* Style the active/current link*/
.header a.active {
	background-color: dodgerblue;
	color: white;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */ 
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
}
.parallax { 
	/* The image used */
	background-image: url("wallpaper.jpg");

	/* Set a specific height */
	height: 100%;
	width: 100%;
	border: 0px solid #000;

	/* Create the parallax scrolling effect */
	position: relative;
	opacity: 0.85;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 479px){

	.parallax{
		background-image: url("wallpaper_mobile.jpg");
		-moz-background-size: auto;
		-webkit-background-size: auto;
		background-attachment: scroll;
		background-position: top;
		background-size: auto;
	}
}

span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;

	align-content: center;
	position: absolute;
	left:38%;
	top: 50%;
	width: 30%;
	text-align: center;
}
